.container {
    max-width: 800px;
}
 .container h1{
    color:rgb(33, 56, 33);
    margin:25px;
    text-align: center;
    font-weight: 600;
}

#yearMonth {
    color: #356237;
    font-weight: bold;
    display: flex;
    font-size: 22px;
}

.btn {
    color: #575f6a;
    font-weight: 600px;
}

.btn:hover {
    color: #816161;
}

.weekdays>div {
    width: 100px;
    margin: 0 5px;
    text-align: center;
    color: #28213b;
}

.calendar>div {
    width: 100px;
    height: 100px;
    margin:5px;
    border: 2px solid rgb(63, 109, 68);
    background-color: #ffffff;
    color: #03045e;

}

.current {
    cursor: pointer;
    transition: all 0.3s;            
}

.current:hover {
    background-color: #b7bdc646;
}

.note {
    color: #784259;
}