.container {
    max-width: 800px;
    position: relative;
    z-index: 2;
}
 .container h1{
    color:rgb(9, 10, 9);
    margin:25px;
    text-align: center;
    font-weight: 600;
}

#yearMonth {
    color: #070b07;
    font-weight: bold;
    display: flex;
    font-size: 22px;
}

.btn {
    color: #090a0a;
    font-weight: 600px;
}

.btn:hover {
    color: #5d5a5a;
}

.weekdays>div {
    width: 100px;
    margin: 0 5px;
    text-align: center;
    color: #28213b;
}

.calendar>div {
    width: 100px;
    height: 100px;
    margin:5px;
    border: 2px solid rgb(14, 15, 14);
    background-color: #ffffff;
    color: #09090a;

}

.current {
    cursor: pointer;
    transition: all 0.3s;            
}

.current:hover {
    background-color: #b7bdc646;
}

.note {
    color: #784259;
}

.background-image img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
}

.background-image {
    position: relative;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}
